.progress-bar {
	/* -fx-accent: blue; */   /* completed */
	/* -fx-accent: green; */  /* running */
	/* -fx-accent: orange; */ /* paused/waiting */
	-fx-accent: red;    /* stopped/canceled/corrupted */
	-fx-max-width: 20000;
	/* -fx-min-height: 30; */
	-fx-indeterminate-bar-length: 300;
}

.right-to-left {
  -fx-alignment: center-right;
}

.button {
	-fx-halignment: right;
}

.colon {
	-fx-alignment: center;
	-fx-font-size: 140%;
}

.port {
	-fx-max-width: 70;
}